.pagination {
  margin-top: 20px;
  font-family: var(--font-simpsons);
}

.pagination span {
  margin: 30px;
}

.pagination button {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(229, 229, 229);
  color: black;
  font-family: var(--font-simpsons);
}

.pagination button:hover {
  background-color: black;
  color: white;
}

.pagination button:disabled {
  background-color: grey;
  color: white;
  cursor: not-allowed;
}