.pagination {
  margin-top: var(--margin-m);
  font-family: var(--font-simpsons);
}

.pagination span {
  margin: var(--margin-l);
}

.pagination button {
  padding: var(--padding-s);
  margin: var(--margin-xs);
  font-size: var(--fs-s);
  cursor: pointer;
  border: 1px solid black;
  border-radius: var(--br-xs);
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  font-family: var(--font-simpsons);
}

.pagination button:hover {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
}

.pagination button:disabled {
  background-color: var(--disabled-color);
  color: var(--tertiary-color);
  cursor: not-allowed;
}

@media (width < 500px) {
  .pagination button {
    font-size: var(--fs-xxs);
  }

  .pagination span {
    font-size: var(--fs-xs);
    margin: var(--margin-s);
  }
}