.home {
  min-height: 100svh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(252, 212, 31);
  width: 100vw;
  font-family: var(--font-simpsons);
  gap: 30px;
  text-align: center;
  padding: 40px;
}

.home img {
  max-height: 150px;
}

.home h1 {
  max-width: 500px;
}

.home p {
  font-family: var(--font-normal);
  max-width: 1000px;
  font-size: 20px;
}

@media (width < 500px) {
  h1 {
    font-size: 24px;
  }
}

@media (width < 376px) {
  .home {
    padding-top: 100px;
  }
  .home p {
    font-size: 16px;
    margin-bottom: 20px;
  }
}