.home {
  min-height: var(--height-screen);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  width: var(--width-screen);
  font-family: var(--font-simpsons);
  gap: var(--gap-m);
  text-align: center;
  padding: var(--padding-m);
}

.home img {
  max-height: var(--height-xs);
}

.home h1 {
  max-width: var(--width-m);
}

.home p {
  font-family: var(--font-normal);
  max-width: var(--width-l);
  font-size: var(--fs-l);
}

@media (width < 500px) {
  h1 {
    font-size: var(--fs-xl);
  }
}

@media (width < 376px) {
  .home {
    padding-top: var(--padding-xl);
  }
  .home p {
    font-size: var(--fs-s);
    margin-bottom: var(--margin-m);
  }
}