.characters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    text-align: center;
}

.characters img {
    height: var(--height-xs);
}

.logo-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--width-full);
    padding: var(--padding-l);
    max-height: var(--height-xs);
}

@media (width < 500px) {
    .logo-search {
        flex-direction: column;
        height: auto;
    }

    .characters{
        gap: var(--gap-xl);
    }
  }
  
