.character-card {
  text-decoration: none;
  color: var(--secondary-color);
  font-family: var(--font-simpsons);
}

.card-container {
  background-color: var(--primary-color);
  border: 3px solid black; 
  border-radius: var(--br-l);
  padding: var(--padding-s);
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
  min-height: var(--height-m);
  width: var(--width-s);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container img {
  height: var(--height-s);
  margin: var(--margin-m);
  max-width: var(--width-xs);
}

.card-container h2 {
  font-size: var(--fs-m);
}

.card-container:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}