.search-bar {
  padding: var(--padding-xs);
  width: var(--width-xs);
  margin-bottom: var(--margin-m);
  font-size: var(--fs-s);
  border: 2px solid black;
  border-radius: var(--br-m);
  font-family: var(--font-simpsons);
}

@media (width < 500px) {
  .search-bar {
    margin-top: var(--margin-s);
  }
}
