.character-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--gap-s);
  justify-content: center;
  margin: var(--margin-m);
}

.character-list p {
  font-family: var(--font-simpsons);
}

