.footer {
  width: var(--width-full);
  text-align: center;
  padding: var(--padding-xs);
  background-color: var(--footer-background-color);
  color: var(--footer-text-color);
  font-size: var(--fs-xxs);
  position: fixed;
  bottom: 0;
  left: 0;
  font-family: var(--font-normal);
}

.footer-link {
  color: var(--footer-color);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: var(--footer-hover-color);
}