.character-detail {
  text-align: center;
  padding: var(--padding-m);
  background-color: var(--primary-color);
  min-height: var(--height-screen);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-normal);
}

.character-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: var(--width-l);
}

.character-container img {
  height: var(--height-m);
}

.character-detail h1 {
  font-size: var(--fs-xxl);
}

.character-detail p {
  font-size: var(--fs-l);
}

.back-button {
  display: flex;
  align-self: flex-end;
  justify-self: center;
  padding: 10px 15px;
  font-size: var(--fs-s);
  cursor: pointer;
  border: 2px solid black;
  border-radius: var(--br-s);
  background-color: var(--back-button-color);
  color: var(--secondary-color);
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--back-button-hover-color);
}

button:active {
  background-color: var(--back-button-active-color);
}

.character-info {
  margin-left: var(--margin-xl);
  margin-bottom: var(--margin-xl);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-s);
  min-height: var(--height-m);
}

@media (width < 800px) {
  .character-container {
    flex-direction: column;
  }

  .character-container img {
    height: var(--height-s);
  }

  .character-info {
    margin-left: 0;
  }

  .character-detail {
    margin-top: var(--margin-xxl);
  }
}

